<div class="section-heading 404-heading">
  {% render 'icon', icon: 'logomark', class: 'logomark' %}
  <h1 class="home-section-heading text-center">{{ 'templates.404.title' | t }}</h1>  
  <p class="404-text">{{ 'templates.404.subtext' | t }}</p>
  <div>  
    <a href="/" class="section__diamond-ctas btn">{{ 'templates.404.return_home' | t }}</a>
  </div>
</div>
