<div class="cart__value-prop">
  <div class="value-prop__image">
    {% render 'img', img: block.settings.image, loading: 'lazy' %}
  </div>
  <p class="value-prop__text">
    {{ block.settings.text }}
  </p>
</div>
