<div class="faqs container" style="--section-width: 945px;">
  <ul class="faqs__items accordion js-accordion" data-animation="on" data-multi-items="on"
      data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-0" id="accordion-header-9-0">
        <span>Diamond Stud Earrings For Women</span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-0"
           id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>Amplify your everyday appearance and highlight any outfit with our collection of women's diamond stud
            earrings. Shop endless patterns in our diamond stud collection and add some luminosity to any ensemble.
            Select from dozens of sizes and either 3 or 4 prong setting styles to create the perfect pair of
            earrings to complement your style and take it to a new level of chic.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-1" id="accordion-header-9-1">
        <span>Real Diamond Studs</span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-1"
           id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>For those desiring to add some refinement, our diamond stud earrings are the jewelry pieces you need
            for a sophisticated accent to tie your outfit together. Our collection of authentic diamond studs offer
            a suave and polished aesthetic that will forever be in fashion. Choose from a diverse array of sizes and
            precious metals to obtain the optimal <a href="/collections/earrings?page=1">pair of earrings</a> to correspond with your unique style. Diamond
            studs won't take the focus off of your ensemble but add just enough to complete your look. At Marks
            Jewelers, we exclusively offer authentic diamond stud earrings fashioned from premium materials.


            Our selection comprises countless styles, cuts and embellishments to cater to all preferences and all
            budgets as well. In addition, each piece is accented with genuine diamonds that are guaranteed to
            radiate, sparkle, and turn heads.
          </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-2" id="accordion-header-9-2">
        <span>1 Carat Diamond Stud Earrings </span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-2"
           id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Express your individuality and showcase your style with our one-carat diamond stud earrings. These
            studs showcase exceptional diamonds embedded in an array of designs and alloys. They are perfect for
            anyone wishing to add some glamor to their attire. Select from 3 or 4 prong settings and different
            closure styles like friction or screwback find the perfect pair of earrings to match your ensemble.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-3" id="accordion-header-9-3">
        <span>2 Carat Diamond Stud Earrings </span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-3"
           id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>For an even more glamorous look, consider our 2-carat diamond stud earrings. These high-quality diamond
            studs are set in a variety of styles and metals. These earrings are perfect for special occasions,
            cocktail parties or even a special night out. Choose from a variety of finishes and designs to find the
            perfect pair of earrings to match your personal style.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-4" id="accordion-header-9-4">
        <span>What Size Diamond Studs Are Too Big?</span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-4"
           id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>Choosing the right size for your diamond studs can be a personal choice, but typically anything over 2
            carats can be considered too big for everyday wear or casual events. Therefore, it's important to
            consider the occasion you'll be wearing them for when choosing the size of your diamond studs.
            Especially with diamond studs, less can be more. We also feature dozens of <a href="/collections/lab-created-diamond-studs?page=1">lab grown diamond studs</a> that
            can be a fashionable choice for anyone. </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button class="reset accordion__header js-accordion__trigger js-tab-focus" aria-expanded="false"
              aria-controls="accordion-content-9-4" id="accordion-header-9-4">
        <span>How To Clean Diamond Studs</span>
        <svg class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden" viewBox="0 0 20 20"
             aria-hidden="true" focusable="false">
          <g class="icon__group" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
            <line x1="10" y1="14" x2="3" y2="7"></line>
            <line x1="17" y1="7" x2="10" y2="14"></line>
          </g>
        </svg>
      </button>

      <div class="accordion__panel js-accordion__panel" aria-labelledby="accordion-header-9-4"
           id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>It's essential to clean your diamond studs regularly to keep them looking their best. To properly clean
            your diamond studs, simply use a soft-bristled brush and a solution of warm water and mild soap. Gently
            scrub the earrings and rinse them with water. Dry with a soft cloth, such as a microfiber towel. Be sure
            to avoid using harsh chemicals or abrasive materials, as these can damage the diamonds or the metal
            setting and ruin the sheen.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
