<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Explore Our Exquisite Diamond Earrings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>Indulge in the mesmerizing brilliance of diamond earrings. Our collection features a wide range of designs, from elegant <a href="https://www.marks-jewelers.com/collections/diamond-stud-earrings?page=1">diamond studs</a> to glamorous drop earrings. Each diamond is uniquely selected for its exceptional cut, clarity, and sparkle. Let these dazzling gems adorn your ears with grace and sophistication.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Dazzling Hoop Earrings Make a Statement For Any Style</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>Embrace the allure of hoop earrings, the epitome of timeless style. Our hoop earrings collection offers a variety of sizes and designs, from delicate and understated to bold and statement-making. Whether you prefer sleek and polished hoops or adorned with diamonds, these earrings add a touch of effortless elegance to any ensemble. Match them with a <a href="https://www.marks-jewelers.com/collections/diamond-stud-earrings?page=1">bracelet or bangle</a> for a classy and sophisticated style.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Make Gold Earrings Your Signature Style</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Experience the warmth and luxury of gold earrings. Our collection showcases the finest craftsmanship with 14 kt gold and meticulous attention to detail. From dainty studs to intricate chandelier earrings, each piece radiates a sense of polished refinement. Adorn yourself with the timeless beauty of gold.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Enhance Your Look With Sparkling 14 Kt Gold Earrings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Indulge in the pure elegance of 14 kt gold earrings. Our collection features a stunning array of designs precisely crafted to perfection. From classic hoops to contemporary drop earrings, each piece exudes a luxurious charm that enhances your personal style. Elevate your jewelry collection with the exquisite beauty of 14 kt gold.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Diamond Studs Make a Stunning Accent To Your Jewelry Collection</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Enhance your natural radiance with our collection of <a href="https://www.marks-jewelers.com/collections/lab-created-diamond-studs?page=1">lab-grown diamond stud earrings</a> for women. These timeless beauties feature brilliant diamonds in various shapes and sizes that will accent any look you wish. Perfect for any occasion, these earrings effortlessly elevate your ensemble and capture the essence of elegance. Let the sparkle of diamonds light up your face.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>From Hoops To Studs, Diamond Earrings Inspire Elegance</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>At Marks Jewelers, we understand the significance of earrings as a reflection of your style and personality. Each pair in our collection is designed with affection and passion, ensuring that you find the perfect piece to cherish. Whether you're seeking diamond earrings for a special occasion or everyday gold earrings, our curated selection offers something for every taste and preference.</p>

          <p>Discover the joy of adorning yourself with exquisite earrings that speak to your heart. Our diverse range of styles, from diamond studs to hoop earrings, caters to every woman's desire for beauty and self-expression. Let our collection become a part of your journey, adding a touch of elegance to your life.</p>

          <p>Experience the magic of earrings that evoke emotions and captivate hearts. Explore our collection online or visit our store to see these treasures in person. Let our knowledgeable team guide you in finding the perfect pair that will become an enduring symbol of your unique style and inner radiance.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
