<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Selecting a Diamond Engagement Ring</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>The diamond is one of the most crucial features of any engagement ring. We solely procure the finest quality diamonds for our rings, ensuring that each stone is both exquisite and ethically sourced. Our team of expert gemologists can provide you with in-depth guidance on the 4Cs of diamond quality – cut, color, clarity, and carat weight – enabling you to choose the perfect diamond for your ring.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Emerald Cut Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>The emerald cut showcases a rectangular shape with angled corners, forming a striking exhibition of light and shadow planes that effortlessly intermingle. The emerald cut is widely recognized for its daring and refined appearance, rendering it a highly favored option for individuals seeking an engagement ring that stands apart from the masses. Whether you opt for a traditional solitaire or a contemporary halo arrangement, an emerald-cut engagement ring is guaranteed to enrapture your affections and leave a permanent impression.
          </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Vintage Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Celebrate your love story with a <a href="/collections/vintage-engagement-rings?page=1">vintage engagement ring</a>. These rings are not only beautiful but also have a rich history and unique character that set them apart from modern designs. Crafted with high-quality materials and intricate details, vintage engagement rings are a timeless expression of love that will be cherished for generations to come. Discover the charm and elegance of vintage rings and choose one that speaks to your heart.
            Step back in time and embrace timeless elegance with our exquisite collection of vintage engagement rings. Each ring tells a story, crafted with meticulous attention to detail and featuring stunning, one-of-a-kind designs. Discover the perfect symbol of your love and commitment. These engagement rings are more than a fashion statement. They hold memories and sentimental values that are unique to each couple. Let your ring represent so much more than a symbol of beauty.
          </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>How Much Should An Engagement Ring Cost?</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>We recognize that an engagement ring is a significant investment, which is why we provide financing options to make your dream ring more affordable. The cost can vary greatly depending on a variety of factors, such as the quality of the diamond or gemstone, the type of metal used for the band, and the overall design and craftsmanship of the ring. There is no one-size-fits-all answer to how much an engagement ring should cost, as it ultimately depends on individual preferences and budget constraints. You may have heard the old saying that the investment should be a 3-month salary but this doesn’t necessarily have to be the case.
            However, it is essential to keep in mind that an engagement ring is a significant investment and should be purchased within one's financial means. While it is always a good idea to have a budget in mind,  and work with a reputable jeweler to find a ring that fits both your financial constraints and your partner's style and preferences. Our flexible payment plans enable you to spread the cost of your ring over time, making it simpler to budget and plan for your special purchase.
          </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Marks Jewelers Has Engagement Rings For Someone Special</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>
            At Marks Jewelers, we are committed to helping you discover the perfect engagement ring to represent your love and commitment. We offer various customization options, allowing you to create a truly unique ring that reflects your personal style and taste. From selecting the metal to choosing the perfect diamond or gemstone, our team will collaborate with you at every stage to bring your dream ring to life.
            By selecting Marks Jewelers for your engagement ring, you can trust that you will receive the highest quality and the best value. We take pride in providing a variety of styles and designs to satisfy every taste and budget, and our team of experts is always available to offer guidance and advice.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
