<div id="landing-page-header">
  <img
    src="{{ 'MJ-WeddingExpo-Hero-1385x408px-Desktop.jpg' | asset_url }}"
    id="landing-page-hero"
    loading="lazy"
    height="404"
    width="1200">
</div>

