<div id="hint-modal" class="modals">
  <div class="modal-overlay" data-modal="true" data-dismiss="modal"></div>
  <div class="modal-window hint-modal">
    <span class="close" data-modal="true" data-dismiss="modal">&times;</span>
    <div class="hint-form">
      <form id="email_hint_it_signup" class="klaviyo_styling klaviyo_gdpr_embed_XaDy3v email-hint-it" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate" data-component="hint-validate">
        <input type="hidden" name="g" value="XaDy3v">
        <input type="hidden" name="$fields" value="$consent">
        <input type="hidden" name="$list_fields" value="$consent">
        <div class="klaviyo_field_group field-group">
            <p class="klaviyo_helptext helptext"> Hint It </p>
            <div class="klaviyo_helptext helptext"> This is too good to keep for yourself. Share it with someone you think might be interested</div>
            <input class="" type="email" value="" name="email" id="k_id_email" placeholder="Recipient's Email" />
            <small>Please enter a valid email</small>
            <input class="" type="text" value=""  id="k_id_SenderName" placeholder="Your Name" />
            <input class="" type="Email" value=""  id="k_id_SenderEmail" placeholder="Your Email" />
            <small>Please enter a valid email</small>
            <div class="klaviyo_field_group klaviyo_form_actions consent form-actions">
              <div class="input-container">
                <input type="checkbox" name="$consent" id="consent-email" value="email">
              </div>
                <label for="consent-email">I agree to the <a href="https://www.marks-jewelers.com/privacypolicy">Privacy Policy</a>, and to receive exclusive email offers from Marks Jewelers.</label>
                <br>
            </div>
        </div>
        <div class="klaviyo_messages">
            <div class="success_message" style="display:none;"></div>
            <div class="error_message" style="display:none;"></div>
        </div>
        <div class="klaviyo_form_actions form-actions">
            <button type="submit" class="btn btn--primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="ti-success-msg hidden">
      <p>
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path></svg>
        Your Hint has been sent!
      </p>
      <p><a href="/collections/engagement-rings">Shop more engagment rings</a> or <a href="/pages/jewlvision?view=jewlvision">create your own custom ring with JEWLVISION</a></p>
      <span class="ti-continue-shop btn btn--primary" data-modal="true" data-dismiss="modal">Continue Shopping</span>
    </div>
  </div>
</div>


