<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Gold Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>To obtain a timeless and classic appearance, we propose our gold wedding bands for women. These rings are
            fabricated with first-rate materials and are available in an array of colors, such as yellow, white, and
                        rose gold. They are offered in a variety of finishes and designs that cater to every style preference. We
                        possess a gold wedding band that suits every preference, ranging from simplistic and unassuming to detailed
                        and intricate.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Diamond Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>Infuse a hint of radiance to your momentous day with our <a href="/collections/ladies-diamond-wedding-rings?page=1">diamond wedding bands for women</a>. These rings boast
            high-quality diamonds that are set in various styles and metals, which are sure to leave a lasting
                        impression. Our collection features classic designs, contemporary pave settings, and more, making it
                        effortless to find the perfect ring for your wedding day.
          </p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Unique Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Make a bold statement with our assortment of unique wedding bands for women. Our collection comprises a
            diverse range of designs and styles, from contemporary and daring to vintage-inspired and romantic. These
                        rings come in an array of precious metals and finishes, allowing you to find the ideal ring that complements
                        your personal style. Browse dozens of stone-cut styles and patterns that are sure to dazzle and amaze.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>White Gold Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Sleek and sophisticated, our <a href="/collections/ladies-diamond-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Type=10+Karat&filter.p.m.itemDetails.Material_Type=14+Karat&filter.p.m.itemDetails.Material_Type=18+Karat&filter.p.m.itemDetails.Material_Color=White&sort_by=best-selling&page=1">white gold wedding bands for women</a> offer a timeless look that will never go
            out of style. Crafted from high-quality materials and featuring a variety of finishes and designs, these
                        rings are perfect for the modern bride who wants a classic and elegant look.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Wedding Band Sets For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>For brides searching for a matching wedding band set for you and your partner, Marks Jewelers has the
            wedding band sets for your tastes. Our collection of wedding band sets for women features a variety of
                        styles and designs to suit all of your favorite styles and trends. Whether you prefer classic and
                        traditional or modern and unique, we have a set of wedding bands to suit your needs.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Vintage Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>Capture the romance and beauty of yesteryear with our collection of <a href="/collections/vintage-engagement-rings?page=1">vintage wedding bands</a> for women.
            Featuring intricate designs and stunning details, these rings are perfect for the bride who wants a touch of
                        old-world charm on her special day. Choose from a variety of metals and finishes to find the perfect ring to
                        match your vintage-inspired wedding theme.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>How To Care For Wedding Bands For Women</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>To keep your wedding band looking its best for years to come, it's important to take proper care of it.
            Follow these simple tips to keep your wedding band looking like new: store it in a soft pouch or box when
                        not in use, avoid exposing it to harsh chemicals or abrasive materials, and have it cleaned and inspected by
                        a professional jeweler regularly. With proper care, your wedding band will continue to sparkle and shine for
                        a lifetime.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
