<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>How To Wear An Eternity Ring</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>If you're wondering how to wear an eternity ring, the possibilities are endless. Many women choose to wear their eternity ring on their left ring finger, stacked with their engagement and <a href="https://www.marks-jewelers.com/collections/ladies-diamond-wedding-rings?page=1">wedding rings</a>. Others prefer to wear their eternity ring on their right hand or mix and match it with other rings for a more eclectic look.</p>

          <p>An eternity ring makes the perfect gift for any special occasion or as a symbol of your love and commitment. At Marks Jewelers, we believe that every woman deserves a beautiful and timeless piece of jewelry that she can cherish for a lifetime. Explore our collection of ladies' eternity wedding rings and find the perfect piece to add to your jewelry collection today.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Which Order Do You Wear Engagement Rings, Wedding Rings and Eternity Rings?</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>Eternity rings are a popular choice for special occasions such as anniversaries, birthdays, and weddings. They are symbolic of an unbroken circle of love and commitment, representing a never-ending bond between two individuals. Eternity rings are typically adorned with diamonds or other precious stones set around the band, giving a continuous sparkle and elegance.</p>

          <p>When it comes to wearing an eternity ring with an <a href="https://www.marks-jewelers.com/collections/engagement-rings?page=1">engagement ring</a> and a wedding band, there are a few options. One popular choice is to wear the wedding band on the bottom, followed by the engagement ring, and then the eternity ring on top. This creates a beautiful and balanced look, with each ring complementing the other. Another option is to wear the eternity band first, followed by the engagement ring, and then the wedding ring. This is often referred to as the "reverse stack," and it can give a more unique and personal touch to the overall look.</p>

          <p>No matter which order you choose to wear them, an eternity ring is a beautiful and meaningful addition to any bridal set. It adds a touch of sophistication and luxury while also symbolizing the everlasting love between two people.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>The Elegance of the Eternity Ring</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>A diamond eternity ring is the ultimate symbol of everlasting love. With a never-ending band of diamonds, an eternity ring is a perfect way to celebrate your commitment to each other. At Marks Jewelers, we offer a stunning collection of eternity rings for women in a variety of styles and diamond shapes. From classic round diamonds to elegant emerald cuts, our selection is sure to impress.</p>

          <p>Our eternity rings are expertly crafted with the finest materials and attention to detail. Whether you prefer white gold, yellow gold, or rose gold bands, we have something to suit your taste. Our diamond eternity rings are also available in a range of diamond sizes and qualities, so you can find the perfect ring to fit your budget.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Celebrate Your Partner With An Eternity Ring</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Our stunning diamond eternity rings pair with a <a href="https://www.marks-jewelers.com/collections/ladies-stackable-wedding-rings?page=1">stackable wedding ring</a> for a look like none other. These rings feature a row of diamonds that extend around the entire band, creating a dazzling effect that is sure to catch the eye. Whether you're looking for classic round stones or something more unique like ovals or emerald cuts, we have an eternity band engagement ring that is perfect for you.</p>

          <p>At Marks Jewelers, we believe that every woman deserves a beautiful eternity ring to celebrate her love. That's why we offer a range of affordable eternity rings that are sure to fit any budget. We also provide custom eternity rings, so you can create a one-of-a-kind piece that perfectly reflects your style and personality.</p>

          <p>Give your special someone an eternity ring to show that your love is forever. Shop our collection of diamond eternity rings and find the perfect ring to celebrate your everlasting love.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
