<div class="product-page-mp marksPromise__row">
  <img loading="lazy" width="10" height="10" src="{{ 'm-logo.webp' | asset_url }}"
       srcset="{{ 'm-logo.webp' | asset_url }}" sizes="50px" alt="Small Logo" loading="lazy" width="50" height="50">
  <h2 class="marks-promise-header">The Marks Promise</h2>
  <p class="marks-promise-content">No other jeweler in the industry promises what we do. Jewelry is meant to be worn. It
    becomes a part of you going down all of life’s bumpy paths. We will stand by your bridal jewelry with cleanings,
    inspections, and even repairs due to normal wear - at no cost to you.</p>
</div>
