<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Men's Designer Jewelry</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>For those who appreciate the finer things in life, our men's designer jewelry collection is sure to impress. From bold statement pieces to understated classics, our selection of designer jewelry is curated to meet the needs of every modern man.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Men's Gold Jewelry</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>Nothing says luxury quite like gold. Our collection of men's gold jewelry includes a variety of styles, from classic chains and bracelets to modern rings and pendants. Whether you're looking to make a statement or add a subtle touch of elegance, we've got you covered.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Men's Diamond Jewelry</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>For the ultimate in luxury and sophistication, our men's diamond jewelry collection is second to none. Browse our <a href="https://www.marks-jewelers.com/collections/mens-diamond-wedding-rings?page=1">men’s diamond rings</a> and other precious metals that will be a welcome addition to your jewelry collection. Our selection of diamond jewelry is designed to elevate your style and make a statement.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Affordable Men's Jewelry</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>At Marks Jewelers, we believe that everyone deserves to look their best. That's why we offer an extensive selection of affordable men's jewelry that doesn't sacrifice quality or style. If you're looking for a stunning alternative to diamonds, our men's jewelry collection is just what you need. These sparkling gems offer a brilliant shine that rivals diamonds, making them a popular choice for those who want to make a statement without breaking the bank.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Custom Men's Jewelry</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Sometimes, the perfect piece of jewelry is the one you design yourself. Our <a href="https://www.marks-jewelers.com/pages/jewlvision?view=jewlvision">custom men's jewelry</a> service allows you to create a unique piece that perfectly reflects your style. Our expert jewelers will work with you every step of the way to bring your vision to life.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Men's Jewelry Show the More Sophisticated Sign of Fashion</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Gone are the days when men's fashion was limited to suits and ties. Today's modern man understands the importance of accessorizing and the role it plays in creating a complete and sophisticated look. From sleek <a href="https://www.marks-jewelers.com/collections/mens-alternative-metals-wedding-rings?page=1">titanium bands</a> to sparkling <a href="https://www.marks-jewelers.com/collections/mens-diamond-wedding-rings?page=1">diamond wedding rings</a>, our men's jewelry collection has everything you need to elevate your style and make a statement. So why not take your look to the next level with our stylish and sophisticated men's jewelry?</p>
        </div>
      </div>
    </li>
  </ul>
</div>
