<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Men’s Black Wedding Band</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>Make a bold statement with our <a href="https://www.marks-jewelers.com/collections/mens-alternative-metals-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Color=Black&sort_by=best-selling&page=1">men's black wedding bands</a>. Sleek and stylish, these rings are perfect for the modern groom who wants a unique and edgy look. Choose from a variety of designs, including matte, polished, and brushed finishes, to find the perfect ring to match your personal style.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Men’s Gold Wedding Bands</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>For a classic and timeless look, consider one of our <a href="https://www.marks-jewelers.com/collections/mens-precious-metal-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Type=10+Karat&filter.p.m.itemDetails.Material_Type=14+Karat&filter.p.m.itemDetails.Material_Type=18+Karat&sort_by=best-selling&page=1">men's gold wedding bands</a>. Available in yellow, white, and rose gold, these rings are crafted from high-quality materials and feature a variety of finishes and designs. From simple and understated to intricate and ornate, we have a gold wedding band to suit every taste.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Men’s Diamond Wedding Bands</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Add some extra sparkle to your special day with our <a href="https://www.marks-jewelers.com/collections/mens-diamond-wedding-rings?page=1">men's diamond wedding bands</a>. Diamond wedding bands for men brilliantly feature high-quality diamonds set in a variety of styles and metals, these rings are sure to make a lasting impression. Choose from modern pave settings and more to find the perfect ring for your wedding day.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Men’s White Gold Wedding Bands</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Sleek and sophisticated, our <a href="https://www.marks-jewelers.com/collections/mens-precious-metal-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Type=10+Karat&filter.p.m.itemDetails.Material_Type=14+Karat&filter.p.m.itemDetails.Material_Type=18+Karat&filter.p.m.itemDetails.Material_Color=White&sort_by=best-selling&page=1">men's white gold wedding bands</a> offer a timeless look that will never go out of style. Crafted from high-quality materials and featuring a variety of finishes and designs, these rings are perfect for the modern groom who wants a classic, yet elegant look.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Rose Gold Men’s Wedding Band</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>Make a statement with our <a href="https://www.marks-jewelers.com/collections/mens-precious-metal-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Color=Rose&filter.p.m.itemDetails.Material_Color=White+-+Pink&filter.p.m.itemDetails.Material_Color=White+-+Rose&sort_by=best-selling&page=1">rose gold men's wedding bands</a>. The warm and romantic hue of rose gold is perfect for the modern groom who wants a unique and stylish look. Choose from a variety of designs, including brushed and polished finishes, to find the perfect ring to match your personal style.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Men’s Titanium Wedding Bands</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>Looking for a wedding band that's both lightweight and durable? Our <a href="https://www.marks-jewelers.com/collections/mens-alternative-metals-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Type=Titanium&sort_by=best-selling&page=1">men's titanium wedding bands</a> are the perfect choice. These wedding bands are engineered from high-quality titanium and are stunning pieces of jewelry. These rings are built to last and feature a variety of designs and finishes to suit every taste, no matter your preferences.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-4"
        id="accordion-header-9-4">
        <span>Men’s Tungsten Wedding Bands</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-4"
        id="accordion-content-9-4">
        <div class="accordion__panel-content">
          <p>For the ultimate in luxury and sophistication, consider one of our <a href="https://www.marks-jewelers.com/collections/mens-alternative-metals-wedding-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Material_Type=Tungsten+Carbide&sort_by=best-selling&page=1">men's tungsten wedding bands</a>. These wedding bands are designed with high-quality tungsten metal. They are not only an incredibly fashionable and trendy wedding ring, but also these bands are incredibly durable. Choose from dozens of designs, including brushed and polished finishes, to find the perfect ring to symbolize your love and commitment.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
