{{ 'component-modal-dialog.css' | asset_url | stylesheet_tag }}
{{ 'component-modal-strict-guidelines.css' | asset_url | stylesheet_tag }}

<div id="modal-strict-guidelines" class="modal modal--animate-scale js-modal" data-component="modal" aria-label="Strict Guidelines Info Modal">
  <div class="modal__content" role="alertdialog" aria-label="Modal Content Dialogue Box">
    <p>"The only way we can guarantee our guests are able to enjoy their jewelry as it was intended <em>(to be worn!)</em> is through a thorough examination of both the quality of the designer’s craftsmanship and an evaluation of their business practices."</p>
  </div>
  <button class="reset modal__close-btn modal__close-btn--outer js-modal__close">X</button>
</div>
