<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>The Timeless Beauty of Diamond Necklaces</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>There are many types of diamond necklaces to choose from, each with its own unique style and design. Some popular options include:</p>
          <ul>
            <li><b>Solitaire diamond necklaces:</b> Solitaire diamond necklaces feature a single diamond in a simple setting, making them a classic and versatile choice.</li>
            <li><b>Pendant necklaces:</b> These necklaces feature a <a href="https://www.marks-jewelers.com/collections/necklaces?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Necklace_Type=Pendant&sort_by=best-selling&page=1">pendant</a> hanging from a chain, adding a touch of glamor and sophistication to any outfit.</li>
            <li><b>Tennis necklaces:</b> <a href="https://www.marks-jewelers.com/collections/necklaces?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Necklace_Type=Tennis&sort_by=best-selling&page=1">Tennis diamond necklaces</a> feature a line of diamonds set closely together, creating a continuous sparkle around the neck.</li>
            <li><b>Choker necklaces:</b> These are <a href="https://www.marks-jewelers.com/collections/necklaces?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Necklace_Type=Choker&sort_by=best-selling&page=1">shorter necklaces</a> that sit higher up on the neck, making them bold and statement-making accessories.</li>
          </ul>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Elevate Your Look With the Perfect Diamond Necklace</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>When choosing a diamond necklace, there are a few key factors to consider. Firstly, think about the occasion you'll be wearing it for. A more formal event may call for a more elaborate design, while a simple solitaire necklace is perfect for everyday wear.</p>

          <p>It's also important to consider the size and quality of the <a href="https://www.marks-jewelers.com/apps/vdb-app/search-filters?structure=new">diamonds</a>. The 4 Cs of diamonds - cut, clarity, color, and carat weight - should all be taken into account to ensure you're getting a high-quality diamond that will sparkle beautifully.</p>

          <p>Lastly, consider the metal used for the necklace chain and setting. Platinum and white gold are popular choices for a classic look, while rose gold or yellow gold can add a modern twist.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>How To Clean A Diamond Necklace</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>To keep your diamond necklace looking its best, it's important to take proper care of it. Avoid wearing it while doing activities that could damage it, such as exercising or swimming. When not in use, store it in a safe and secure place, such as a jewelry box or safe.</p>

          <p>To clean your diamond necklace, use a soft-bristled brush and a mild detergent mixed with warm water. Gently scrub the necklace to remove any dirt or grime, then rinse it thoroughly to ensure all detergent or soap residue is off of the necklace. Dry the necklace with a soft cloth or microfiber towel completely to avoid water spots.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Unleash Elegance With A Diamond Necklace</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>A diamond necklace is a beautiful and timeless piece of jewelry that will always be in style. With so many designs and styles to choose from, there's a diamond necklace for everyone. By considering the occasion, diamond quality and metal type, you can find the perfect diamond necklace to add a touch of elegance to your wardrobe.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
