<div id="sizing-modal" class="modals">
  <div class="modal-overlay" data-modal="true" data-dismiss="modal"></div>
  <div class="modal-window large">
  <span class="close" data-modal="true" data-dismiss="modal">&times;</span>
  <h2>How to Determine your Ring Size</h2>
    <p>With standard ring sizes, every half-size matches up to a 0.4 millimeter increment, starting with size 3 equaling 14 mm, size 3.5 equal to 14.4 mm, size 4 equal to 14.8 mm, and so on.</p>
    <div class="ring-average">
      <strong>Average Ring Size for Men</strong>
      <p>The average ring size for men is between 8 and 10.5. Men’s ring sizes usually range from 8 to 14, with size 9 being the most common.</p>
      <strong>Average Ring Size for Women</strong>
      <p>The average ring size for women is between 5 and 7. Women’s ring sizes typically range from 3 to 9, with size 6 being the most common.</p>
    </div>
    <h2>International Ring Sizing Guide</h2>
    <table>
        <thead>
            <tr>
                <th>Diameter(mm)</th>
                <th>US &amp; Canada</th>
                <th>Europe</th>
                <th>UK &amp; Australia</th>
                <th>Singapore &amp; Japan</th>
                <th>Hong Kong</th>
                <th>Switzerland</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>14.1</td>
                <td>3</td>
                <td>44</td>
                <td>F 1/2</td>
                <td>4</td>
                <td>6</td>
                <td>4</td>
            </tr>
            <tr>
                <td>14.3</td>
                <td></td>
                <td>45</td>
                <td>G</td>
                <td>5</td>
                <td></td>
                <td>5 1/4</td>
            </tr>
            <tr>
                <td>14.5</td>
                <td>3.5</td>
                <td></td>
                <td>G 1/2</td>
                <td></td>
                <td>7</td>
                <td></td>
            </tr>
            <tr>
                <td>14.7</td>
                <td></td>
                <td>46</td>
                <td>H</td>
                <td>6</td>
                <td></td>
                <td>6 1/2</td>
            </tr>
            <tr>
                <td>14.9</td>
                <td>4</td>
                <td>47</td>
                <td>H 1/2</td>
                <td>7</td>
                <td>8</td>
                <td></td>
            </tr>
            <tr>
                <td>15.1</td>
                <td></td>
                <td></td>
                <td>I</td>
                <td></td>
                <td></td>
                <td>7 3/4</td>
            </tr>
            <tr>
                <td>15.3</td>
                <td>4.5</td>
                <td>48</td>
                <td>I 1/2</td>
                <td>8</td>
                <td>9</td>
                <td></td>
            </tr>
            <tr>
                <td>15.5</td>
                <td></td>
                <td></td>
                <td>J</td>
                <td></td>
                <td>10</td>
                <td>9</td>
            </tr>
            <tr>
                <td>15.7</td>
                <td>5</td>
                <td>49</td>
                <td>J 1/2</td>
                <td>9</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>15.9</td>
                <td></td>
                <td>50</td>
                <td>K</td>
                <td></td>
                <td>11</td>
                <td>10</td>
            </tr>
            <tr>
                <td>16.1</td>
                <td>5.5</td>
                <td></td>
                <td>K 1/2</td>
                <td>10</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>16.3</td>
                <td></td>
                <td>51</td>
                <td>L</td>
                <td></td>
                <td>12</td>
                <td>11 3/4</td>
            </tr>
            <tr>
                <td>16.5</td>
                <td>6</td>
                <td>52</td>
                <td>L 1/2</td>
                <td>11</td>
                <td>13</td>
                <td>12 3/4</td>
            </tr>
            <tr>
                <td>16.7</td>
                <td></td>
                <td></td>
                <td>M</td>
                <td>12</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>16.9</td>
                <td>6.5</td>
                <td>53</td>
                <td>M 1/2</td>
                <td>13</td>
                <td>14</td>
                <td>14</td>
            </tr>
            <tr>
                <td>17.1</td>
                <td></td>
                <td>N</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>17.3</td>
                <td>7</td>
                <td>54</td>
                <td>N 1/2</td>
                <td>14</td>
                <td>15</td>
                <td>15 1/4</td>
            </tr>
            <tr>
                <td>17.5</td>
                <td></td>
                <td>55</td>
                <td>O</td>
                <td></td>
                <td>16</td>
                <td></td>
            </tr>
            <tr>
                <td>17.7</td>
                <td>7.5</td>
                <td></td>
                <td>O 1/2</td>
                <td>15</td>
                <td></td>
                <td>16 1/2</td>
            </tr>
            <tr>
                <td>17.9</td>
                <td></td>
                <td>56</td>
                <td>P</td>
                <td></td>
                <td>17</td>
                <td></td>
            </tr>
            <tr>
                <td>18.1</td>
                <td>8</td>
                <td>57</td>
                <td>P 1/2</td>
                <td>16</td>
                <td></td>
                <td>17 3/4</td>
            </tr>
            <tr>
                <td>18.2</td>
                <td></td>
                <td>18</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>18.3</td>
                <td></td>
                <td>Q</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>18.5</td>
                <td>8.5</td>
                <td>58</td>
                <td>Q 1/2</td>
                <td>17</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>18.8</td>
                <td></td>
                <td>59</td>
                <td>R</td>
                <td></td>
                <td>19</td>
                <td>19</td>
            </tr>
            <tr>
                <td>19</td>
                <td>9</td>
                <td></td>
                <td>R 1/2</td>
                <td>18</td>
                <td>20</td>
                <td></td>
            </tr>
            <tr>
                <td>19.2</td>
                <td></td>
                <td>60</td>
                <td>S</td>
                <td></td>
                <td></td>
                <td>20 1/4</td>
            </tr>
            <tr>
                <td>19.4</td>
                <td>9.5</td>
                <td>61</td>
                <td>S 1/2</td>
                <td>19</td>
                <td>21</td>
                <td></td>
            </tr>
            <tr>
                <td>19.6</td>
                <td></td>
                <td></td>
                <td>T</td>
                <td></td>
                <td></td>
                <td>21 1/2</td>
            </tr>
            <tr>
                <td>19.8</td>
                <td>10</td>
                <td>62</td>
                <td>T 1/2</td>
                <td>20</td>
                <td>22</td>
                <td></td>
            </tr>
            <tr>
                <td>20</td>
                <td></td>
                <td></td>
                <td>U</td>
                <td>21</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>20.2</td>
                <td>10.5</td>
                <td>63</td>
                <td>U 1/2</td>
                <td>22</td>
                <td>23</td>
                <td>23 3/4</td>
            </tr>
            <tr>
                <td>20.4</td>
                <td></td>
                <td>64</td>
                <td>V</td>
                <td></td>
                <td>24</td>
                <td></td>
            </tr>
            <tr>
                <td>20.6</td>
                <td>11</td>
                <td></td>
                <td>V 1/2</td>
                <td></td>
                <td>23</td>
                <td></td>
            </tr>
            <tr>
                <td>20.8</td>
                <td>65</td>
                <td></td>
                <td>W</td>
                <td></td>
                <td>25</td>
                <td>25</td>
            </tr>
            <tr>
                <td>21</td>
                <td>11.5</td>
                <td>66</td>
                <td>W 1/2</td>
                <td>24</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>21.2</td>
                <td></td>
                <td></td>
                <td>X</td>
                <td></td>
                <td>26</td>
                <td></td>
            </tr>
            <tr>
                <td>21.4</td>
                <td>12</td>
                <td>67</td>
                <td>X 1/2</td>
                <td>25</td>
                <td>27</td>
                <td>27 1/2</td>
            </tr>
            <tr>
                <td>21.6</td>
                <td></td>
                <td>Y</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>21.8</td>
                <td>12.5</td>
                <td>68</td>
                <td>Z</td>
                <td>26</td>
                <td></td>
                <td>28 3/4</td>
            </tr>
            <tr>
                <td>22</td>
                <td></td>
                <td>69</td>
                <td>Z 1/2</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>22.2</td>
                <td>13</td>
                <td>70</td>
                <td></td>
                <td>27</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>22.4</td>
                <td></td>
                <td>Z+1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>22.6</td>
                <td>13.5</td>
                <td>Z+2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p>For Assistance Call (215) 494-2732 or text 215–362–7132</p>
  </div>

</div>

