<div class="faqs container" style="--section-width: 945px;">
  <ul
    class="faqs__items accordion js-accordion"
    data-animation="on"
    data-multi-items="on"
    data-component="accordion">
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-0"
        id="accordion-header-9-0">
        <span>Embrace Trendsetting Elegance with Lab-Grown Diamond Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-0"
        id="accordion-content-9-0">
        <div class="accordion__panel-content">
          <p>Embrace the allure of trendsetting elegance with our collection of lab-grown diamond engagement rings. These rings showcase the perfect blend of modern design and classic sophistication, reflecting the ever-evolving nature of love and commitment. Our carefully curated selection features rings that cater to a variety of tastes, ensuring that you find a piece that resonates with your heart.</p>

          <p>Lab-grown diamond engagement rings are not just symbols of love; they are expressions of your individuality and style. The brilliance of lab-grown diamonds, combined with the artistry of our designs, creates a captivating masterpiece that tells your love story most exquisitely.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-1"
        id="accordion-header-9-1">
        <span>Elevate Your Love Story with Lab-Grown Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-1"
        id="accordion-content-9-1">
        <div class="accordion__panel-content">
          <p>Elevate your love story with the enchanting beauty of lab-grown diamond engagement rings. Each ring is a testament to your deep connection with your partner, capturing the emotions and memories that make your journey special. From classic <a href="https://www.marks-jewelers.com/collections/recently-purchased-lab-created-engagement-rings?filter.v.price.gte=&filter.v.price.lte=&filter.p.m.itemDetails.Sub_Category_1=Solitaire&sort_by=best-selling&page=1">solitaires</a> to intricate halo settings, our collection offers a range of options to suit your preferences.</p>

          <p>The brilliance of lab-grown diamonds brings a touch of magic to every moment. These ethically sourced diamonds radiate with beauty and reflect your commitment to a sustainable and responsible choice. When you choose a lab-grown diamond engagement ring from Marks Jewelers, you're not just choosing a ring – you're choosing a symbol of your love that shines bright with every glance.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-2"
        id="accordion-header-9-2">
        <span>Captivating Lab-Grown Diamond Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-2"
        id="accordion-content-9-2">
        <div class="accordion__panel-content">
          <p>Step into a world of captivating beauty with our collection of lab-grown diamond engagement rings. Each ring is carefully crafted to capture the essence of your relationship, resonating with charm and affection. The brilliance of lab-grown diamonds creates a mesmerizing sparkle that symbolizes the bright future you'll share together.</p>

          <p>Our selection includes rings that cater to various preferences, from minimalist designs to intricate details that reflect your unique love story. Whether you're seeking a ring that exudes understated elegance or one that makes a bold statement, our captivating lab-grown diamond engagement rings offer something special for every couple.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Experience Modern Romance With Lab-Created Diamond Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Experience the essence of modern romance with our collection of lab-grown diamond engagement rings. These rings encapsulate the spirit of love in its purest form – a harmonious blend of tradition and innovation. The brilliance of lab-grown diamonds captures the excitement of your journey ahead, reflecting your commitment to a love that's as unique as you are.</p>

          <p>Our collection features a diverse array of styles that embrace the modern aesthetic while paying homage to timeless elegance. From sleek and contemporary designs to <a href="https://www.marks-jewelers.com/collections/vintage-engagement-rings?page=1">vintage-inspired settings</a>, each ring is a testament to the enduring beauty of your love story. Choose a lab-grown diamond engagement ring that embodies the sentiment and emotion that make your relationship extraordinary.</p>
        </div>
      </div>
    </li>
    <li class="accordion__item js-accordion__item ">
      <button
        class="reset accordion__header js-accordion__trigger js-tab-focus"
        aria-expanded="false"
        aria-controls="accordion-content-9-3"
        id="accordion-header-9-3">
        <span>Browse Stylish Lab-Created Diamond Engagement Rings</span>
        <svg
          class="icon icon--accordion-arrow accordion__icon-arrow no-js:is-hidden"
          viewBox="0 0 20 20"
          aria-hidden="true"
          focusable="false">
          <g
            class="icon__group"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round">
            <line
              x1="10"
              y1="14"
              x2="3"
              y2="7"></line>
            <line
              x1="17"
              y1="7"
              x2="10"
              y2="14"></line>
          </g>
        </svg>
      </button>

      <div
        class="accordion__panel js-accordion__panel"
        aria-labelledby="accordion-header-9-3"
        id="accordion-content-9-3">
        <div class="accordion__panel-content">
          <p>Experience the joy of exploring the newest additions to our lab-grown diamond engagement ring collection. Our commitment to bringing you the latest trends and designs ensures that you have access to the freshest and most captivating options. With each ring meticulously chosen for its beauty and charm, you'll find the perfect symbol of your love within our collection.</p>

          <p>Browse through our selection of lab-grown diamond engagement rings and discover the exquisite craftsmanship that sets each piece apart. As you embark on this journey of love and commitment, let our newest arrivals be a reflection of your affection and passion, creating a memory that lasts a lifetime.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
