<div class="snap-slider__arrows hidden">
  <button class="reset snap-slider__arrow snap-slider__arrow--prev snap-slider__arrow--disabled" data-prev>
    {% render 'icon', icon: 'chevron-left' %}
    <span class="sr-only">{{ 'sections.carousel.previous_slide' | t }}</span>
  </button>
  <button class="reset snap-slider__arrow snap-slider__arrow--next snap-slider__arrow--disabled" data-next>
    {% render 'icon', icon: 'chevron-right' %}
    <span class="sr-only">{{ 'sections.carousel.next_slide' | t }}</span>
  </button>
</div>
