{{ 'section-jewlvision-page.css' | asset_url | stylesheet_tag }}

<div id="contactModal__wrap">
  <div id="contactModal">
    <span class="modal-close">X</span>
    <img loading="lazy" width="10" height="10" src="{{ 'm-logo.webp' | asset_url }}" alt="Small Logo">
    <p id="modal-title">LOVE GROWS HERE</p>
    <div class="klaviyo-form-PyKtSY"></div>
    <p><strong>Cant wait to get started? Call or Text</strong> (215) 362-7132</p>
    <span class="modal-close bottom-close">Close Window</span>
  </div>
</div>
