// ==========================================================================
// SECTION: Content copy
// ==========================================================================

.section__content-background {
  position: relative;
  background-image: var(--background-mobile-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  color: var(--copy-color);
  margin-top: var(--section-spacing-top);
  margin-bottom: var(--section-spacing-bottom);
  text-align: var(--text-alignment);
  background-position: var(--img-alignment);

  @media(--md) {
    background-image: var(--background-image);
    background-position: var(--background-tablet) top;
  }

  @media(--lg) {
    background-position: var(--img-alignment);
  }

  .mobile-img {
    margin: 0 auto;
  }

  p {
    margin-bottom: var(--space-sm);
  }

  .flex {
    justify-content: center;

    @media(--sm) {
      justify-content: var(--content-alignment);
    }
  }

  .section__content--copy {
    max-width: var(--section-width);
    text-shadow: 2px 0 2px rgb(255 255 255);

    .btn {
      text-shadow: none;
    }
  }

  .container {
    padding-top: var(--section-inner-spacing-top);
    padding-bottom: var(--section-inner-spacing-bottom);
    max-width: var(--container-max-width);

    @media(--md) {
      background-image: var(--inline-background-image);
      background-repeat: no-repeat;
      background-position: var(--inline-img-alignment);
    }
  }

  .icon {
    --size: 3.75rem;
  }
}

.section__content-heading {
  font-size: var(--heading-font-size-mobile);
  font-weight: 100;
  margin-bottom: var(--space-sm);
  color: var(--heading-color);

  @media(--sm) {
    font-size: var(--heading-font-size-desktop);
  }
}

.content__cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-gap: var(--space-sm);

  @media(--sm) {
    flex-direction: row;
  }
}

.content__cta {
  color: var(--cta-text-color);
  background-color: var(--cta-bg-color);
  border-color: var(--cta-border-color);
  border-width: var(--cta-border-width);
  border-style: solid;
  border-radius: 2px;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  text-transform: uppercase;
  width: auto;
  text-align: center;
}

.content__cta-two {
  color: var(--cta-text-color-two);
  background-color: var(--cta-bg-color-two);
  border-color: var(--cta-border-color-two);
  border-width: var(--cta-border-width-two);
  border-style: solid;
  border-radius: 2px;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
  text-transform: uppercase;
  width: auto;
  text-align: center;
}


.section__sub-header {
  font-size: var(--text-lg);
  margin-bottom: var(--space-md);
  padding-right: var(--space-md);
  padding-left: var(--space-md);

  @media(--sm) {
    padding-right: 0;
    padding-left: 0;
  }

}
