// ==========================================================================
// SECTION: Home Our Services
// ==========================================================================

.section__our-services {
  text-align: center;
  padding-top: var(--space-xxl);
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;

  p {
    max-width: 771px;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);
  }

  p,
  h2 {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
  }
}

.our-services__header-logo {
  display: block;
  width: 100%;
  margin-bottom: var(--space-sm);

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.our-services__item-row {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media(--sm) {
    flex-direction: row;
    grid-column-gap: var(--space-lg);
  }
}

.our-services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-md);

  a {
    padding-bottom: var(--space-sm);
    padding-top: var(--space-sm);
    padding-right: var(--space-md);
    padding-left: var(--space-md);
    margin-top: var(--space-md);
    width: fit-content;
    text-transform: uppercase;
    border-style: solid;
    border-radius: 2px;
    background-color: var(--our-services-cta-bg-color);
    border-color: var(--our-services-cta-border-color);
    border-width: var(--our-services-cta-border-width);
    color: var(--our-services-cta-text-color);
    min-width: 228px;
  }
}
