@use '../settings/breakpoints' as *;
@use '../tools' as *;

:root {
  --form-control-font-size: var(--text-sm);
  --form-control-padding-x: var(--space-sm);
  --form-control-padding-y: var(--space-sm);
}

.form-control {
  font-size: var(--form-control-font-size, 1em);
  padding-top: var(--form-control-padding-y, 0.5em);
  padding-bottom: var(--form-control-padding-y, 0.5em);
  padding-left: var(--form-control-padding-x, 0.75em);
  padding-right: var(--form-control-padding-x, 0.75em);
  border: 1px solid var(--color-black);
  background-color: var(--color-bg);
  line-height: var(--line-height-sm);
  transition: all 0.2s ease;
  width: 100%;

  &::placeholder {
    opacity: 1;
    color: inherit;
  }

  &:focus {
    outline: none;
  }
}

.form-control--disabled,
.form-control[disabled],
.form-control[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
}

.form-control--error,
.form-control[aria-invalid="true"] {
  border-color: var(--color-error);
}

.form-label {
  display: inline-block;
  font-size: var(--text-sm, 0.75rem);
}

.form-legend {
  color: var(--color-contrast-higher, hsl(204, 28%, 7%));
  line-height: var(--heading-line-height, 1.2);
  font-size: var(--text-md, 1.125rem);
  margin-bottom: var(--space-sm);
}

.form-validate__error-msg {
  display: none; // hide error message by default
  font-size: var(--text-xs);
  background-color: alpha(var(--color-error), 0.1);
  border-radius: var(--form-control-radius, 0.25em);
  padding: var(--space-xxxs);
  margin-top: var(--space-xxxs);

  .form-validate__input-wrapper--error & {
    display: block; // show error message
  }
}
