.breadcrumb-nav {
  padding: var(--space-sm);

  @media (--md) {
    padding: var(--space-sm) 0;
  }

  .breadcrumbs {
    font-size: var(--text-xxxs);
    color: #000;
    text-transform: uppercase;

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;

      &:not(:last-child):after {
        content: ":";
        display: inline-block;
        padding: 0 3px;
      }
    }

    a {
      text-decoration: none;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
}
