<section class="{% if section.settings.include_container %}container{% endif %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</section>


{% schema %}
{
  "name": "Apps",
  "settings": [
    {
      "type": "checkbox",
      "id": "include_container",
      "default": true,
      "label": "Contain app to default page width"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
