{{ 'section-main-activate-account.css' | asset_url | stylesheet_tag }}

<div class="activate-account container"></div>


{% schema %}
{
  "name": "Activate Account",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}
