{{ 'section-main-list-collection.css' | asset_url | stylesheet_tag }}

<div class="list-collection container"></div>


{% schema %}
{
  "name": "List Collections",
  "tag": "section",
  "settings": [

  ]
}
{% endschema %}
