{{ 'section-recently-viewed.css' | asset_url | stylesheet_tag }}

<div class="container container--lg padding-y-sm padding-y-lg@lg recently-viewed hide" data-component="recently-viewed" data-template="{{ template.name }}">
  {%- if section.settings.heading != empty -%}
    <p class="merchandising-header">{{ section.settings.heading }}</p>
  {%- endif -%}
  <ul class="recently-viewed__items--container"></ul>
</div>

{% schema %}
{
  "name": "Recently Viewed",
  "tag": "section",
  "class": "recently-viewed__container",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recently Viewed"
    }
  ]
}
{% endschema %}
