{{ 'custom_page_base.css' | asset_url | stylesheet_tag }}

<div class="page page-thankyou">
  <div class="container">
    <div class="page-thankyou-content">
      <h1 class="pa">
        <img src="{{ 'thank-you.svg' | asset_url }}" alt="Thank You" width="890" height="626" loading="lazy">
      </h1>
      <p>Thank you for filling out the form!</p>
      <a class="btn" href="https://www.marks-jewelers.com/collections/fine-jewelry">Browse Our Collections &raquo;</a>
    </div>
  </div>
</div>
